Laurie Harrison            5
Suzanne Ross               2
Vincent Nguyen                 
Rose Burke                 1
Annie Moreno               2
Aubree Turner                
Erika Myers                1
Ranno Aigro                
...
